.home{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 80vh;

    &_game,
    &_book {
        display: inline-block;
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 0.5s ease-in-out;
        &:hover {
            width: 80%;
        }
        &:hover ~ div {
            background-color: rgb(95, 95, 95);
            background-blend-mode: soft-light;
            filter: blur(5px);
        }
    }

    &_game {
        background-image: url(../../assets/images/game_bg.png);
    }

    &_book{
        background-image: url(../../assets/images/book_bg.jpg);
    }
}
