.home{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;

    .home_book{
        margin-right: 10px;
        background-image: url(../../assets/images/book_bg.jpg)
    }
    .animation_button{
        transition: transform 0.25s;
        width: 50%;
        height: 100%;
        padding: 10px; 
    }
    .home_game:hover{
        transform: scaleX(1.3);
        transform-origin: left;
    }

    .home_book:hover{
        transform: scaleX(1.3);
        transform-origin: right;
    }
    .home_game{
        background-image: url(../../assets/images/game_bg.jpg);
        margin-left: 10px;
    }

}
