.page{
    background-color: #fdfaf7;
    color: #785e3a;
    border: 1px solid #c2b5a3;
    border-left: 0;
    &_content{
        padding: 15px;
    }
    &_title{
        margin-bottom: .5rem;
        font-weight: 900;
        line-height: 1.2;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        border-bottom: ridge;
    }
    &_text{
        text-align: justify;
        padding: 10px;
        p {
            margin-bottom: 20px;
            font-size: 1.26rem;
        }
        img {
            width: 100%;
            vertical-align: top;
            margin-bottom: 20px;
        }
    }
}