.cover{
    background-color: #c5ae8d;
    color: #735e40;
    border: 1px solid #998466;
}

.page{
    background-color: #fdfaf7;
    color: #3a2f21;
    border: 1px solid #c2b5a3;
    border-left: 0;
    &_content{
        padding: 15px;
    }
    &_title{
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        border-bottom: ridge;
    }
    &_text{
        text-align: justify;
        padding: 10px;
        width: auto;
        height: 550px;
        position: static;
        
    }
    &_footer{
        border-top: ridge;
        text-align: center;
    }
}

.flipbook{
    margin-left: 25%;
}